# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# X (Twitter) OAuth
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

# Fiyat API
STOCK_API_KEY=
COINGECKO_API_KEY=

# Solana
NEXT_PUBLIC_SOLANA_RPC=https://api.mainnet-beta.solana.com
SOLANA_TREASURY_WALLET=
